*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

body {
 
  
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;;
}

.header {
  width:100%;
  margin:2.5rem auto;
  display: flex;
  justify-content: space-around;
}

.logo {
  height:50px;
  width:200px;
}


.str__slideshow {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:gray;
  font-size:11px;
  margin:1rem;
  letter-spacing: 2px;
}

.dividing-bar {
width:1200px;
height:2px;
background-color: rgba(185, 179, 179, 0.151);
margin:0 auto;
}

.grid{
  max-width: 1000px;
  margin:0 auto;

}

.grid-sizer {
  width:250px;
}

/* Masonry library practice */
.grid-item { 
  position:relative;
  text-align:left;
  color:white;
  padding:.8rem;
  width: 250px;

 }

 .img-txt{
  position:absolute;

  text-shadow: 1px 1px black;
  bottom:15%;
  left:15%;
  line-height:1px;
  width:80%;
  height:auto;


 }
  .art-name {
    font-size:22px;
    line-height:24px
 }
  
  .artist-name {
   font-size:11px;
   padding-left:2px;
    margin-top:-16px;

   
 }


 
.grid-item--height1 {height:180px;}
.grid-item--height2 {height:300px;}
.grid-item--height3 {height:210px;}
.grid-item--height4 {height:200px;}
.grid-item--height5 {height:325px;}
.grid-item--height6 {height:250px;}
.grid-item--height7 {height:375px;}
.grid-item--height8 {height:220px;}


 img {
   width:100%;
   height:100%;
 }

 @media only screen and (max-width: 768px) { 

  .grid{
    max-width: 750px;

  
  }

  .grid-item { 
    padding:.8rem;
    width: 300px;
   }

  .grid-sizer { 
    width:320px;
   
  }
  .grid-item--height1 {height:250px;}
  .grid-item--height2 {height:330px;}
  .grid-item--height3 {height:250px;}
  .grid-item--height4 {height:200px;}
  .grid-item--height5 {height:350px;}
  .grid-item--height6 {height:300px;}
  .grid-item--height7 {height:400px;}
  .grid-item--height8 {height:250px;}

 }

 @media only screen and (max-width: 480px) { 

  .grid-sizer { 
    width:360px;
   
  }
  .grid-item--height1 {height:270px;}
  .grid-item--height2 {height:360px;}
  .grid-item--height3 {height:270px;}
  .grid-item--height4 {height:220px;}
  .grid-item--height5 {height:370px;}
  .grid-item--height6 {height:320px;}
  .grid-item--height7 {height:420px;}
  .grid-item--height8 {height:270px;}

 }



 /* Slideshow Style */

 .slideshow__content {
  display:grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  align-items:center;
  margin: 0 auto;
}

/* left-side content */
.content__left {
 background-color: aqua;
 height:100%;
 width:100%;
 position: relative;
}

.artist-display {

  position:absolute;
  height:30rem;
  width:28rem;
}

.img-1 {
  width:100%;
  height:100%;
}

.image-body {
  position:relative;
}

.lightbox-button {
  position:absolute;
  bottom:3rem;
  left:2rem;
  font-size:12px;
  letter-spacing:4px;
  color:white;
  background-color:black;
  padding:.8rem 2rem;
}

.title-card {
  float:top;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:white;
  position:absolute;
  width:300px;
  height:150px;
  line-height:1px;
  right:0;
}

.hero {
  position:absolute;
  right:0;
  top:25.5rem;
}


/* right-side content */

.content__right {
  position:relative;

 height:100%;
 width:100%;
}
.year{
  font-size:16rem;
  position:absolute;
  z-index:0;
  right:2rem;
  top:1rem;
  color:lightgray;
 }

 .artist-bio{
  color:black;
  position:absolute;
  z-index:1;
  margin: 14rem 11rem 0rem 3.5rem;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  font-size:18px;
 }

